In [76]:
class Test:
    def func1(self):
        print("This is inside func1")
        print(f"{self.name} {self.age} {self.address}")
    def func2(self,name,age,address):
        print(f"{name} {age} {address}")
#The above is a method

In [79]:
t1 = Test()
t1.name = 'Milan'
t1.age = 22
t1.address = 'kapan'
t1.func1()

This is inside func1
Milan 22 kapan

In [86]:
t2 = Test()
for i in range(3):
    name = input("Enter a name ")
    age = int(input("Enter age "))
    address = input("Enter your address ")
    t2.func2(name ,age, address)
    t1.func2('shyam', 33, 'japan')

Enter a name avishek
Enter age 22
Enter your address kapan
avishek 22 kapan
shyam 33 japan
Enter a name milan
Enter age 22
Enter your address kapan
milan 22 kapan
shyam 33 japan
Enter a name nitisha
Enter age 22
Enter your address gausala
nitisha 22 gausala
shyam 33 japan

In [102]:
class Addition:
    def sum(self,a:int,b:int):
        c = a+b
        print(c)

In [103]:
a1 = Addition()
a = int(input("Enter a n1 "))
b = int(input("Enter a n2 "))
a1.sum(a,b)

Enter a n1 22
Enter a n2 22
44