In [15]:
class Students:
    def stud1(self):
        print("This is inside stud1")
        print(f"{self.name} {self.age} {self.address}")
    def stud2(self, name, age, address):
        print(f"{name} {age} {address}")
    def emp3(self, name, age, position):
        print(f"{name, age, position}")

In [16]:
s1 = Students()
s1.name = 'milan'
s1.age = 22
s1.address = 'kapan'
s1.stud1()

This is inside stud1
milan 22 kapan

In [ ]:
s2 = Students()
for i in range(2):
    name = input("Enter a name: ")
    age = int(input("Enter your age: "))
    address = input("Enter ypour address: ")
    s2.stud2(name ,age, address)

In [6]:
class Employee:
    def emp1(self):
        print(f"{self.name} {self.age} {self.position}")
    def emp2(self):
        print(f"{self.name} {self.age} {self.position}")
    def emp3(self, name, age, position):
        print(f"{name} {age} {position}")

In [7]:
e1 = Employee()
e1.name = 'mohan'
e1.age = 40
e1.position = 'manager'
e1.emp1()

mohan 40 manager

In [8]:
e2 = Employee()
e2.name = 'khatiwada'
e2.age = 22
e2.position = 'CEO'
e2.emp2()

khatiwada 22 CEO

In [9]:
e3 = Employee()
for i in range(2):
    name = input("Enter a name: ")
    age = input("Enter a age: ")
    position = input("Enter the position: ")
    e3.emp3(name, age, position)

Enter a name: milan
Enter a age: 22
Enter the position: ceo
milan 22 ceo
Enter a name: avishek
Enter a age: 22
Enter the position: manager
avishek 22 manager