In [1]:
student={
    'name':'ram',
    'age':22,
    'mark':77
}
print(student)

{'name': 'ram', 'age': 22, 'mark': 77}

In [3]:
def fun1(a,b):
    print(f"{a},{b}")

fun1(22,33)

22,33

In [4]:
def fun1(a,b):
    a+= 10
    b+= 20
    c = a + b
    return a,b,c

res = fun1(22,33)
n1,n2,n3 = res
print(type(res))
print(f"Sum is {res}")
print(f"Sum of {n1} and {n2} is {n3}")

<class 'tuple'>
Sum is (32, 53, 85)
Sum of 32 and 53 is 85

In [5]:
def func1(a,b, c =None):
    print(a,b)

func1(22, 33)

22 33

In [6]:
# func1(22, 33, 44)
def func1(*args):
    print(args)
    for i in args:
        print(i)

In [7]:
func1(22, 33)

(22, 33)
22
33

In [8]:
#kwargs keywordeed arguments
def func1(**kwargs):
    print(kwargs)
    for keys, values in kwargs.items():
        print(f"{keys} {values}")

func1(name = 'ram', age = 22, mark = 77.5)

{'name': 'ram', 'age': 22, 'mark': 77.5}
name ram
age 22
mark 77.5

In [9]:
student={
#     'key':'values'
    'science_student':{
        'name':'ram',
        'age':22
    },
    'arts_student':{
        'name':'shyam',
        'age':25
    },
    'mgmt_student':{
        'name':'hari',
        'age':27
#         'age':28
    }
}
print(student)

{'science_student': {'name': 'ram', 'age': 22}, 'arts_student': {'name': 'shyam', 'age': 25}, 'mgmt_student': {'name': 'hari', 'age': 27}}

In [10]:
print(student['science_student'])

{'name': 'ram', 'age': 22}

In [11]:
student['mgmt_student']['address']=['ktm','brt']

In [12]:
student

{'science_student': {'name': 'ram', 'age': 22},
 'arts_student': {'name': 'shyam', 'age': 25},
 'mgmt_student': {'name': 'hari', 'age': 27, 'address': ['ktm', 'brt']}}

In [13]:
subject={
    0: 'Math',
    1: 'science',
    2: 'english'
}
print(subject)

{0: 'Math', 1: 'science', 2: 'english'}

In [14]:
print(subject.keys())

dict_keys([0, 1, 2])

In [15]:
list1 = ['pkr', 'brt', 'dharan', 'janakpur']
list2 = ['ram','shyam','hari','sita','nita']
list3 = list1 + list2
list3

['pkr', 'brt', 'dharan', 'janakpur', 'ram', 'shyam', 'hari', 'sita', 'nita']

In [16]:
a = zip(list1,list2)
n_data = dict(a)
print(n_data)

{'pkr': 'ram', 'brt': 'shyam', 'dharan': 'hari', 'janakpur': 'sita'}

In [17]:
b = dict(zip(list1,list2))
print(b)

{'pkr': 'ram', 'brt': 'shyam', 'dharan': 'hari', 'janakpur': 'sita'}

In [19]:
# o_string = 'this is test content to check'
o_string = 'ram shyam hari sita'

u_check = input("Enter the word to check: ")
# this test Test is 
# print(o_string)
if u_check in o_string:
    print(f"{u_check} is matched")
else:
    print(f"{u_check} is not matched")

Enter the word to check: yam yam yam
yam yam yam is not matched

In [20]:
o_string = 'this is test content to check'
# o_string = 'ram shyam hari sita'
u_check = input("Enter the word to check: ")
# this test Test is 
# print(o_string)
if u_check in o_string:
    print(f"{u_check} is matched")
else:
    print(f"{u_check} is not matched")

Enter the word to check: yam
yam is not matched

In [21]:
for i in o_string: #this is test contents to check
    print(i)

t
h
i
s

i
s

t
e
s
t

c
o
n
t
e
n
t

t
o

c
h
e
c
k

In [22]:
o_string = 'this is test content to check'
print(type(o_string))

<class 'str'>

In [23]:
o_string = o_string.split()
print(type(o_string))

<class 'list'>

In [24]:
for i in o_string:
    print(i)

this
is
test
content
to
check

In [25]:
o_string = 'this is test content to check'
# o_string = 'ram shyam hari sita'
u_check = input("Enter the word to check: ")
# this test Test is 
# print(o_string)
o_string = o_string.split()
if u_check in o_string:
    print(f"{u_check} is matched")
else:
    print(f"{u_check} is not matched")

Enter the word to check: ram
ram is not matched

In [26]:
name ='ram,shyam,hari,sita'
name = name.split()
print(name)

['ram,shyam,hari,sita']

In [27]:
name ='ram,shyam,hari,sita'
name = name.split(',')
print(name)

['ram', 'shyam', 'hari', 'sita']